.themify_builder .text-203-0-0-1.module-text{background-repeat: repeat; }
.themify_builder .text-203-0-0-1.module.module-text h1{font-family: Arial, Helvetica, sans-serif; }
.themify_builder .image-203-1-0-0.module-image{background-repeat: repeat; }
