.themify_builder_170_row.module_row_0.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .slider-170-0-0-1.module-slider{padding-top:6%; }
.themify_builder_170_row.module_row_2.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .text-170-sub_row_2-0-0-0-0.module-text{margin-bottom:30px; }
.themify_builder .text-170-sub_row_2-0-1-1-0.module-text{font-size:1.4em; padding-top:60px; margin-top:60px; border-top:1px solid #eee; }
.themify_builder_170_row.module_row_4.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .text-170-sub_row_4-0-1-1-0.module-text{font-size:1.4em; padding-top:60px; margin-top:60px; border-top:1px solid #eee; }
.themify_builder_170_row.module_row_6.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .text-170-sub_row_6-0-1-1-0.module-text{font-size:1.3em; padding-top:60px; margin-top:60px; border-top:1px solid #eee; }
.themify_builder_170_row.module_row_8.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .text-170-sub_row_8-0-1-1-0.module-text{font-size:1.3em; padding-top:60px; margin-top:60px; border-top:1px solid #eee; }
.themify_builder_170_row.module_row_10.module_row{text-align: center; padding-top:6%; padding-bottom:10%; }
