.themify_builder_335_row.module_row_0.module_row{background-image: url("https://themify.me/demo/themes/ultra-accountant/files/2017/03/contact-us.jpg"); background-position: center bottom; text-align: center; padding-top:14.5%; padding-bottom:14%; }
.themify_builder_335_row.module_row_0.module_row>.builder_row_cover:before{background-color:rgba(33,69,107, 0.78); }
.themify_builder_335_row.module_row_0.module_row,.themify_builder_335_row.module_row_0 h1,.themify_builder_335_row.module_row_0 h2,.themify_builder_335_row.module_row_0 h3:not(.module-title),.themify_builder_335_row.module_row_0 h4,.themify_builder_335_row.module_row_0 h5,.themify_builder_335_row.module_row_0 h6{color:#ffffff; }
.themify_builder .text-335-0-0-1.module-text a{text-decoration: underline; }
.themify_builder .text-335-0-0-1.module-text{margin-right:20px; margin-left:20px; }
.themify_builder_335_row.module_row_1.module_row{background-color:#22436c; padding-top:11%; padding-bottom:11%; }
.themify_builder_335_row.module_row_1.module_row,.themify_builder_335_row.module_row_1 h1,.themify_builder_335_row.module_row_1 h2,.themify_builder_335_row.module_row_1 h3:not(.module-title),.themify_builder_335_row.module_row_1 h4,.themify_builder_335_row.module_row_1 h5,.themify_builder_335_row.module_row_1 h6{color:#ffffff; }
@media screen and (max-width: 768px) {.themify_builder_335_row.module_row_1 a{text-decoration: underline; }
.themify_builder_335_row.module_row_1.module_row{padding-top:60px; padding-bottom:50px; }
}
@media screen and (max-width: 480px) {.themify_builder_335_row.module_row_1 a{text-decoration: underline; }
.themify_builder_335_row.module_row_1.module_row{padding-top:50px; padding-bottom:40px; }
}
.module_row_1 .module_column_0.tb_335_column.module_column{text-align: center; }
.themify_builder .icon-335-1-0-0 div.module-icon .module-icon-item i{color:#6fb0ed; }
.module_row_1 .module_column_1.tb_335_column.module_column{text-align: center; }
.themify_builder .icon-335-1-1-0 div.module-icon .module-icon-item i{color:#6fb0ed; }
.module_row_1 .module_column_2.tb_335_column.module_column{text-align: center; }
.themify_builder .icon-335-1-2-0 div.module-icon .module-icon-item i{color:#6fb0ed; }
.themify_builder_335_row.module_row_2.module_row{padding-top:5.5%; padding-bottom:5.5%; }
@media screen and (max-width: 1024px) {.themify_builder_335_row.module_row_2 a{text-decoration: underline; }
.themify_builder_335_row.module_row_2.module_row{padding-top:70px; }
}
@media screen and (max-width: 768px) {.themify_builder_335_row.module_row_2 a{text-decoration: underline; }
.themify_builder_335_row.module_row_2.module_row{padding-top:60px; }
}
@media screen and (max-width: 480px) {.themify_builder_335_row.module_row_2 a{text-decoration: underline; }
.themify_builder_335_row.module_row_2.module_row{padding-top:40px; }
}
@media screen and (max-width: 1024px) {.themify_builder .fancy-heading-335-2-1-0.module-fancy-heading{margin-bottom:40px; }
}
@media screen and (max-width: 768px) {.themify_builder .fancy-heading-335-2-1-0.module-fancy-heading{margin-bottom:40px; }
}
