.themify_builder_160_row.module_row_0.module_row{padding-top:10%; padding-bottom:6%; }
.themify_builder .text-160-0-0-0.module-text{padding-left:8%; }
.themify_builder .text-160-0-1-0.module-text{font-size:1.3em; }
.themify_builder_160_row.module_row_1.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .text-160-1-0-0.module-text{padding-left:8%; }
.themify_builder .image-160-sub_row_1-1-1-0-0.module-image{padding-top:10%; padding-bottom:10%; }
.themify_builder .image-160-sub_row_1-1-1-1-0.module-image{padding-top:10%; padding-bottom:10%; }
.themify_builder .image-160-sub_row_1-1-1-2-0.module-image{padding-top:10%; padding-bottom:10%; }
.themify_builder_160_row.module_row_2.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .text-160-sub_row_2-0-0-0-0.module-text{padding-top:5%; }
.themify_builder .text-160-sub_row_2-0-1-1-0.module-text{padding-top:5%; padding-right:12%; padding-left:5%; }
.themify_builder .text-160-sub_row_2-0-2-0-0.module-text{padding-top:5%; padding-right:5%; padding-left:12%; }
.themify_builder .text-160-sub_row_2-0-3-1-0.module-text{padding-top:5%; padding-right:12%; padding-left:5%; }
.themify_builder .text-160-sub_row_2-0-4-0-0.module-text{padding-top:5%; padding-right:5%; padding-left:10%; }
.themify_builder_160_row.module_row_3.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .image-160-sub_row_3-1-0-1-0.module-image{padding-top:10%; padding-bottom:10%; }
.themify_builder .image-160-sub_row_3-1-1-2-0.module-image{padding-top:10%; }
.themify_builder .image-160-sub_row_3-1-2-0-0.module-image{padding-top:10%; }
.themify_builder .image-160-sub_row_3-1-2-1-0.module-image{padding-top:10%; }
.themify_builder .image-160-sub_row_3-1-2-2-0.module-image{padding-top:15%; }
.themify_builder_160_row.module_row_4.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder_160_row.module_row_5.module_row{padding-bottom:6%; }
.themify_builder .text-160-sub_row_5-0-0-0-0.module-text{padding-top:5%; padding-right:5%; padding-left:10%; }
