.themify_builder_332_row.module_row_0.module_row{background-image: url("https://themify.me/demo/themes/ultra-accountant/files/2017/03/servicebg.jpg"); background-position: center center; text-align: center; padding-top:14.5%; padding-bottom:14%; }
.themify_builder_332_row.module_row_0.module_row>.builder_row_cover:before{background-color:rgba(33,69,107, 0.78); }
.themify_builder_332_row.module_row_0.module_row,.themify_builder_332_row.module_row_0 h1,.themify_builder_332_row.module_row_0 h2,.themify_builder_332_row.module_row_0 h3:not(.module-title),.themify_builder_332_row.module_row_0 h4,.themify_builder_332_row.module_row_0 h5,.themify_builder_332_row.module_row_0 h6{color:#ffffff; }
.themify_builder_332_row.module_row_0 a{text-decoration: underline; }
.themify_builder_332_row.module_row_1.module_row{padding-top:7.5%; padding-bottom:9%; }
@media screen and (max-width: 1024px) {.themify_builder_332_row.module_row_1 a{text-decoration: underline; }
.themify_builder_332_row.module_row_1.module_row{padding-top:70px; padding-bottom:30px; }
}
@media screen and (max-width: 768px) {.themify_builder_332_row.module_row_1 a{text-decoration: underline; }
.themify_builder_332_row.module_row_1.module_row{padding-top:70px; padding-bottom:30px; }
}
@media screen and (max-width: 480px) {.themify_builder_332_row.module_row_1 a{text-decoration: underline; }
.themify_builder_332_row.module_row_1.module_row{padding-top:60px; }
}
@media screen and (max-width: 480px) {.themify_builder .fancy-heading-332-1-0-0.module-fancy-heading{margin-top:20px; }
}
.themify_builder .image-332-sub_row_1-0-1-0-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_1-0-1-0-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_1-0-1-0-0.module-image{padding-top:30px; }
}
.themify_builder .image-332-sub_row_1-0-1-1-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_1-0-1-1-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_1-0-1-1-0.module-image{padding-top:30px; }
}
.themify_builder .image-332-sub_row_1-0-1-2-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_1-0-1-2-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_1-0-1-2-0.module-image{padding-top:30px; }
}
.themify_builder .image-332-sub_row_1-0-2-0-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_1-0-2-0-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_1-0-2-0-0.module-image{padding-top:30px; }
}
.themify_builder .image-332-sub_row_1-0-2-1-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_1-0-2-1-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_1-0-2-1-0.module-image{padding-top:30px; }
}
.themify_builder .image-332-sub_row_1-0-2-2-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_1-0-2-2-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_1-0-2-2-0.module-image{padding-top:30px; }
}
.themify_builder_332_row.module_row_2.module_row{background-color:#f4f4f4; padding-top:7.5%; padding-bottom:9%; }
@media screen and (max-width: 1024px) {.themify_builder_332_row.module_row_2 a{text-decoration: underline; }
.themify_builder_332_row.module_row_2.module_row{padding-top:80px; }
}
@media screen and (max-width: 768px) {.themify_builder_332_row.module_row_2 a{text-decoration: underline; }
.themify_builder_332_row.module_row_2.module_row{padding-top:70px; padding-bottom:30px; }
}
@media screen and (max-width: 480px) {.themify_builder_332_row.module_row_2 a{text-decoration: underline; }
.themify_builder_332_row.module_row_2.module_row{padding-top:60px; padding-bottom:30px; }
}
@media screen and (max-width: 768px) {.themify_builder .fancy-heading-332-2-0-0.module-fancy-heading{padding-bottom:0px; margin-bottom:0px; }
}
.themify_builder .image-332-sub_row_2-0-1-0-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_2-0-1-0-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_2-0-1-0-0.module-image{padding-top:30px; }
}
.themify_builder .image-332-sub_row_2-0-1-1-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_2-0-1-1-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_2-0-1-1-0.module-image{padding-top:30px; }
}
.themify_builder .image-332-sub_row_2-0-1-2-0.module-image a{text-decoration: underline; }
@media screen and (max-width: 768px) {.themify_builder .image-332-sub_row_2-0-1-2-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_2-0-1-2-0.module-image{padding-top:30px; }
}
.themify_builder_332_row.module_row_3.module_row{padding-top:7.5%; padding-bottom:9%; }
@media screen and (max-width: 768px) {.themify_builder_332_row.module_row_3 a{text-decoration: underline; }
.themify_builder_332_row.module_row_3.module_row{padding-top:70px; padding-bottom:70px; }
}
@media screen and (max-width: 480px) {.themify_builder_332_row.module_row_3 a{text-decoration: underline; }
.themify_builder_332_row.module_row_3.module_row{padding-top:60px; padding-bottom:60px; }
}
.themify_builder .image-332-sub_row_3-0-1-0-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_3-0-1-1-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_3-0-1-2-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_3-0-2-0-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_3-0-2-1-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_3-0-2-2-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_3-0-3-0-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_3-0-3-1-0.module-image a{text-decoration: underline; }
.themify_builder .image-332-sub_row_3-0-3-2-0.module-image a{text-decoration: underline; }
.themify_builder_332_row.module_row_4.module_row{background-color:#22436c; padding-top:5.5%; padding-bottom:5.5%; }
.themify_builder_332_row.module_row_4.module_row,.themify_builder_332_row.module_row_4 h1,.themify_builder_332_row.module_row_4 h2,.themify_builder_332_row.module_row_4 h3:not(.module-title),.themify_builder_332_row.module_row_4 h4,.themify_builder_332_row.module_row_4 h5,.themify_builder_332_row.module_row_4 h6{color:#ffffff; }
@media screen and (max-width: 1024px) {.themify_builder_332_row.module_row_4 a{text-decoration: underline; }
.themify_builder_332_row.module_row_4.module_row{padding-top:60px; }
}
@media screen and (max-width: 768px) {.themify_builder_332_row.module_row_4 a{text-decoration: underline; }
.themify_builder_332_row.module_row_4.module_row{padding-top:60px; }
}
@media screen and (max-width: 480px) {.themify_builder_332_row.module_row_4 a{text-decoration: underline; }
.themify_builder_332_row.module_row_4.module_row{padding-top:60px; padding-bottom:30px; }
}
.themify_builder_332_row.module_row_5.module_row{background-color:#f4f4f4; text-align: center; padding-top:6.15%; padding-bottom:6.85%; }
@media screen and (max-width: 768px) {.themify_builder_332_row.module_row_5 a{text-decoration: underline; }
.themify_builder_332_row.module_row_5.module_row{padding-top:60px; padding-bottom:60px; }
}
@media screen and (max-width: 480px) {.themify_builder_332_row.module_row_5 a{text-decoration: underline; }
.themify_builder_332_row.module_row_5.module_row{padding-top:50px; padding-bottom:60px; }
}
.themify_builder .fancy-heading-332-5-0-0.module .sub-head{font-size:1.1em; }
@media screen and (max-width: 1024px) {.themify_builder .fancy-heading-332-5-0-0.module-fancy-heading{margin-right:20px; margin-left:20px; }
}
@media screen and (max-width: 480px) {.themify_builder .fancy-heading-332-5-0-0.module-fancy-heading{margin-right:20px; margin-left:20px; }
}
.themify_builder .buttons-332-5-0-1 div.module-buttons{margin-top:1.3em; }
