.themify_builder_193_row.module_row_0.module_row{background-color:#ebebeb; padding-top:6%; padding-bottom:6%; }
.themify_builder .text-193-sub_row_0-0-0-0-0.module-text{background-repeat: repeat; padding-top:40px; padding-bottom:40px; }
.themify_builder .buttons-193-sub_row_0-0-0-0-1 div.module-buttons{font-weight: bold; }
.themify_builder .buttons-193-sub_row_0-0-0-0-1 .module-buttons .module-buttons-item a:hover{background-color:#8cc051; }
.themify_builder .buttons-193-sub_row_0-0-0-0-1 .module-buttons .module-buttons-item a{color:#ffffff; }
.themify_builder .image-193-sub_row_0-0-0-1-0.module-image{background-color:#ffffff; border-top:1px solid #363636; border-right:1px solid #363636; border-bottom:1px solid #363636; border-left:1px solid #363636; }
.themify_builder_193_row.module_row_1.module_row{padding-top:8%; padding-bottom:6%; }
.themify_builder .text-193-1-0-0.module-text{margin-bottom:50px; }
.themify_builder_193_row.module_row_2.module_row{background-color:#ebebeb; padding-top:10%; padding-bottom:10%; }
.themify_builder .text-193-2-0-0.module-text{padding-top:3%; }
.themify_builder_193_row.module_row_3.module_row{padding-top:6%; padding-bottom:6%; }
.themify_builder .image-193-sub_row_3-0-1-0-0.module-image{padding-top:2%; padding-bottom:2%; }
.themify_builder .image-193-sub_row_3-0-1-0-1.module-image{padding-top:4%; padding-bottom:4%; }
.themify_builder .image-193-sub_row_3-0-1-1-0.module-image{padding-top:2%; padding-bottom:2%; }
.themify_builder .image-193-sub_row_3-0-1-1-1.module-image{padding-top:4%; padding-bottom:4%; }
.themify_builder_193_row.module_row_4.module_row{background-color:#f0f0f0; padding-top:3%; padding-bottom:3%; }
